<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Sign In - Blogsphere Identity</title>
    
    <!-- Modern favicon support -->
    <link rel="icon" type="image/svg+xml" href="~/favicon.svg?v=@DateTime.Now.Ticks" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png?v=@DateTime.Now.Ticks" />
    
    <!-- Local font fallback -->
    <link rel="stylesheet" href="~/fonts/titillium-web/titillium-web.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html> 